body {
  text-align: center;
  background: whitesmoke;
}


h1 {
  font-size: 24px;
  padding: 10px;
  display:inline-block;
  color: red;
  text-align: center;
}

h2 {
  display: inline-block;
  margin: 30px;
  text-align:center;
}

.container {
  display:flex;
  flex-direction: row;
  align-items:center;
}

p {
  font-weight:bold;
  display:inline-block;
  margin: 100px;
  font-size: 14px;
  text-align: center;
}

img {
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  
}

.conference {
  display: inline;
  float: right;
  margin-left: 20px;
  background-image: 'https://compote.slate.com/images/2eee76f1-f54e-4a48-95b0-9852efb1e0af.jpg?crop=668%2C376%2Cx0%2Cy0';
  background-size:cover;
  border: solid black;
  border-radius: 50%;
  width:500px;
  
}

.conference-container {
  display:inline;
}