body {
  text-align: center;
  background: whitesmoke;
}

img {
  width: 200px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  padding: 10px;
}

.container {
  display:flex;
  flex-direction: column;
}

p {
  font-weight:bold;
}